/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.img-container {
  line-height: 0;
  overflow: hidden;
}

.blue {
  color: #33C3F0;
}

.blue-bg {
  color: #FFF;
  background-color: #33C3F0;
}

/* Header 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  padding: 1rem 0;
  background-color: #D6DDE5;
}

header a {
  color: #FFF;
  font-size: 1.6rem;
  padding-left: 3rem;
  text-decoration: none;
}

header #logo,{
  display: none;
}

header nav {
  display: inline-block;
}

/* Hero section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  color: #4A4E53;
  text-align: center;
  background-color: #D6DDE5;
}

.hero-heading {
  padding: 5rem 0;
  font-size: 1.8rem;
}

.container.hero-form {
  padding-bottom: 8rem;
}

.hero-form form {
  width: 80%;
  margin: 0 auto;
}

.hero-form input {
  color: #000;
  width: 60%;
  padding: 0 15px;
  border: 1px solid #FFF;
}

.hero-form label {
  color: #4A4E53;
  font-size: 16px;
  text-align: left;
}

.hero-form button {
  font-size: 13px;
}

.hero .img-container {
  margin-top: 6rem;
}

.hero-feature {
  color: #D6DDE5;
  padding-top: 8rem;
  background-color: #4A4E53;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Bigger than 750 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) {
  header #logo {
    float: left;
    display: block;
  }

  .hero-heading h1 {
    font-size: 4.6rem;
  }
}

/* Bigger than 1000 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) {
  .hero-heading {
    padding: 10rem 0 6rem;
    font-size: 2.5rem;
  }

  .hero .img-container {
    margin-top: 8rem;
  }
}
